*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(245, 222, 179, 0.405);
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color:rgba(245, 222, 179, 0.243);
    padding: 10px;
    height: 100vh;
    border: 1px solid rgb(26, 23, 23);
    position: sticky;
    top: 0;
}
.sidebar h2{
    margin-bottom: 20px;
    color: rgba(0, 1, 1, 0.362);
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li {
    color:rgb(108, 70, 0);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px ;
    
}
.sidebar ul li a{
    text-decoration: none;
    color: black;

}

.sidebar ul li a:hover{
    background-color: rgba(211, 180, 124, 0.522);
    padding: 5px 23px 1px 10px;
    text-decoration: underline;
    color: blue;

}



.main-content{
    flex: 1;
    padding: 20px;
    overflow-y:auto;
}
header {
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

/* dashboard section */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));/*بتخلي اتلعناصر كلها فوق في الصف الاول*/
    gap: 20px;
    margin-bottom: 30px;

}
.card{
    padding: 20px;
    color:black;
    border-radius: 10px;
    box-shadow: 0px 4px 9px orange;
    transition: transform 0.9s ease-in-out;
    font-size: 2em;

}
.card:hover{
    box-shadow: 0px 9px 9px rgb(208, 135, 0);
    margin-bottom: 11px;
    font-size:2.8em ;
    transition:  0.7s ease-in-out;

}
.card h3{
    margin-bottom: 10px;
}
.blue{
    background-color: wheat;
}




/* class seaction */

.section{
    height: 90vh;
    width: 50vw;
    margin-top: 20px;
    margin-bottom: 90px;
    font-size: 2em;
    padding: 30px;
    background:rgba(255, 255, 255, 0.356) ;
    box-shadow: 2px 1px 10px 10px rgba(255, 166, 0, 0.349);
    border-radius: 50px 10px 10px ;

}

form{
    margin-bottom: 20px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}
form input{
    padding: 10px;
    flex: 1;
    border-radius: 1px;
}
form button{
    padding: 2px 13px 1px;
    height: 44px;
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 11px 1px 10px ;
    font-size: 0.5em;
}
form button:hover{
    background-color: orange;
    font-size: 0.6em;
    transition: 0.3s;
    box-shadow: 7px 1px 1px 1px rgb(42, 34, 23);
}
input[type="text"]{
    margin-bottom: 23px;
    width: 100%;
    height: 50px;
    padding: 10px;
    /* font-size: 0.em; */
    border-radius: 0 8px 0 ;
}

