*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(245, 222, 179, 0.405);
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color:rgba(245, 222, 179, 0.243);
    padding: 10px;
    height: 100vh;
    border: 1px solid rgb(26, 23, 23);
    position: sticky;
    top: 0;
}
.sidebar h2{
    margin-bottom: 20px;
    color: rgba(0, 1, 1, 0.362);
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li {
    color:rgb(108, 70, 0);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px ;
    
}
.sidebar ul li a{
    text-decoration: none;
    color: black;

}

.sidebar ul li a:hover{
    background-color: rgba(211, 180, 124, 0.522);
    padding: 5px 23px 1px 10px;
    text-decoration: underline;
    color: blue;

}

/* main contecnt */
.main-content{
    flex: 1;
    padding: 20px;
    overflow-y:auto;
}
header {
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}


.hide{
    display: none;
}

/* dashboard section */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));/*بتخلي اتلعناصر كلها فوق في الصف الاول*/
    gap: 20px;
    margin-bottom: 30px;

}
.card{
    padding: 20px;
    color:black;
    border-radius: 10px;
    box-shadow: 0px 4px 9px orange;
    transition: transform 0.9s ease-in-out;
}
.card:hover{
    box-shadow: 0px 9px 9px rgb(208, 135, 0);
    font-size: 1.3em ;
    transition:  0.5s ease-in-out;

}
.card h3{
    margin-bottom: 10px;
}
.card small{
    opacity: 1;
}
.blue{
    background-color: rgb(14, 141, 238);
}
.orange{
    background-color: rgba(0, 123, 255, 0.38);
}
.green{
    background-color: rgb(0, 255, 145);
}
.red{
    background-color: rgb(230, 160, 31);
}
.chart-container{
    background-color: rgba(93, 199, 194, 0.774);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px 2px;
}

.section{
    margin-top: 150px;
    margin-bottom: 60px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.356) ;
    box-shadow: 2px 1px 10px 10px rgba(255, 166, 0, 0.349);
    border-radius: 50px 10px 10px ;

}
/* 

/* list items*/
/*
ul{
    list-style: none;
    padding: 0;
}
ul li{
    background: rgba(249, 191, 84, 0.788);
    padding: 10px 15px;
    margin: 9px 1px;/*اول قيمه فوق تحت تاني قيمه يمين شمال
    border-radius: 0 0 4px orange;
    box-shadow: 10px 10px 10px rgba(148, 102, 18, 0.549);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li button{
    margin-left: 5px;
    padding: 5px 10px;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    color: aliceblue;
    font-size: 0.9rem;

}

ul li button.edit{
    background-color:green;
    
}

ul li button.delete{
    background-color: red;

}
 */



/* ============================================== */









/* class seaction */

.section{
    margin-top: 200px;
    margin-bottom: 60px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.356) ;
    box-shadow: 2px 1px 10px 10px rgba(255, 166, 0, 0.349);
    border-radius: 50px 10px 10px ;

}

form{
    margin-bottom: 40px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
form input{
    padding: 10px;
    flex: 1;
    border: 1px solid black;
    border-radius: 1px;

}
form button{
    padding: 10px 20px;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 11px 1px 10px ;
    transition: 2s ease-out;
    font-size: 0.8em;
}
form button:hover{
    background-color: orange;
    font-size: 0.9em;
    transition: 0.3s ease-in;
}
input[type="text"]{
    margin-bottom: 23px;
    width: 100%;
    padding: 10px;
    border-radius: 0 8px 0 ;
}


/* ====================== */




    
/*student section*/
#student-section{
    padding: 25px;
    background-color: wheat;
    border-radius: 40px ;
    box-shadow: 2px 1px 10px 1px orange;
    margin: 40px;
    box-sizing: border-box;
    overflow-x:auto;
}

#student-section h3{
    font-size:3rem;
    margin-bottom: 80px;
    color: rgb(100, 100, 100);
}

#student-form {
    display: flex;
    flex-wrap:wrap;
    gap:18px;
    margin-bottom: 15px;

}

#student-form input,
#student-form select{
    flex: 1 1 150px;
    padding:10px 12px;
    border:1px solid rgb(20, 18, 14);
    border-radius: 8px;
    box-sizing: border-box;
}

#student-form button{
    padding:10px 18px;
    background-color:rgb(0, 0, 255);
    color:wheat;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition:background 0.2s ease;
}
#student-form button:hover{
    background-color: blueviolet;
}
#student-search{
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    margin:20px 0;
    box-sizing: border-box;
}

.table-wrapper{
    width: 100%;
    overflow-x: auto;
}
#student-list{
    width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
}

#student-list th,
#student-list td{
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid rgb(178, 100, 100);
    word-wrap: break-word;
}

#student-list th{
    background-color: beige;
    font-weight: bold;
}



#student-list .edit{
    background-color: greenyellow;
    color: black;
}

#student-list .edit:hover{
    background-color: greenyellow;
    color: black;
}

#student-list .delete{
    background-color: red;
    color: wheat;
}

#student-list .delete:hover{
    background-color: rgb(23, 36, 3);
    color: rgb(248, 4, 4);
}






/*icone*/
