*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    /* background:linear-gradient(to right,  rgba(48, 46, 46, 0.867),rgba(0, 0, 0, 0.789) , rgba(0, 0, 0, 0.872), rgb(34, 34, 34), rgba(34, 34, 34, 0.919), rgb(34, 34, 34)); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(to  bottom,black,rgba(239, 15, 15, 0.671),rgba(55, 55, 103, 0.285),rgb(33, 24, 157), rgb(245, 179, 221), rgb(255, 255, 255)),url(school.svg);
    background-size:300%;
    animation :animationGradient 30s  linear infinite;
    box-shadow: 1px 1px 15px rgb(255, 255, 255,0.2)
}
@keyframes animationGradient {
    
    to {
        background-position:300%;
        rotate: 40deg;
    }
}
nav{
    display: flex;/*ترتيب العناصر بحانب بعضهم*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: rgba(81, 79, 74, 0.304);
    padding-right: 5px ;
    width: 100%;   
    background:linear-gradient(to top left,rgb(58, 56, 56),rgba(114, 103, 103, 0.671), rgb(102, 78, 78));
    background-size:300%;
    animation :enemy 20s  ;
    box-shadow: 1px 1px 15px rgb(255, 255, 255,0.2)

}
@keyframes enemy {
    0%{

        background-position:200%;
        /* color: rebeccapurple; */
        /* rotate: 1deg; */
        left: 500px;
        display: none;
        position: relative;
    }
    25%{
        background-position:300%;

        color: rgb(37, 30, 45);
        rotate: 0deg;
        left: 0;


    }
    50%{
        color: rgb(37, 30, 45);
        color: rgb(37, 30, 45);

        background-position:300%;


    }
    75%{

        background-position:300%;
        color: rgb(37, 30, 45);

    }
    100%{
        background-position:300%;



    }

    
}
.nav-left .login-link{
    width: 40px;
    height:auto;
    margin: 10px;
    position: relative;
    display: flex;
    display:inline-block;/*لجعل العناصر بحانب بعضها*/

}
.nav-left .login-link:hover{
    color: rgb(210, 181, 127);
    box-shadow: 1px 1px 4px 1px orange;
    border-radius: 5%;
    width: 50px;
    transition: 0.3s ease-in-out;
}
.logo{
    font-size: 2em;
    width: 200px;
    cursor:none;
    font-weight: 1000;
    margin-left:15px;
    /* margin-right:50%; */
    /* display: flex; */
    display:inline-block;/*لجعل العناصر بحانب بعضها*/

}
.logo::first-letter{
    color: aqua;
    font-size: 1.9em;
}
.nav-left{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
}
.nav-left ul li{
    list-style:none;
    display:inline-block;/*لجعل العناصر بحانب بعضها*/
}
.nav-left ul li .login-link{
    width: 30px;
    cursor:pointer;
}
.nav-right ul li{
    list-style:none;
    position: relative;/*لازم نحط دي عشان موشن الخط السفلي يتفعل*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin: 10px;
    font-weight: 700;
    font-size: 1.5em;
    padding: 5px;
    display:inline-block;   /*حعل العناصر بجانب بعضها*/
}
.nav-right ul li:hover{
    font-size: 1.8em;
    color: orange;
    transition: 0.5s ease-in-out;
} 
.nav-right ul li::after{
    content: '';
    background: rgb(228, 152, 10);
    position:absolute;
    left: 0;
    top: 44px;
    width: 100%;
    border-radius: 5px;
    height: 6px;
    transform-origin: left;/*===//عند وضع المؤشر دي بتقولك هيظهر من اليمين ولا الشمال ودي بتكون البدايه*/
    transform: scaleX(0);/*بتخلي الشريط مخفي عشان لما تدوس عليه يظهر*/
    transition:transform .8s;/*للتحكم في الهوفر يعني طريقه اظهار الشريط بالثواني*/
}
.nav-right ul li:hover:after{
    transform: scaleX(1);
    transform-origin: right;
}

.search{
    height: 30px;
    border-radius: 180px;
    font-size: 0.6em;
    position: relative;
    top: -5px;
    padding: 0 15px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.455);
    background:linear-gradient(to top right, rgba(239, 15, 15, 0.301),rgb(255, 255, 255));
    background-size:300%;
    animation :animationGradient 20s  linear infinite;
}
@keyframes animationGradient {
    to {
        background-position:200%;
    }
}
.corses-logo{
    width: 25px;
    height: auto;
    position: relative;
    top: 5px;
    left: 10px;
    border-radius: 50%;
    
}



/* ********************************************************* */
#en{
    background: rgba(66, 63, 63, 0.618);
    border-radius: 5%;
    padding: 10px 12px;
    margin-bottom: 120px;
    margin-top: 50px;
    text-align: center;
        background: rgba(255, 255, 255, 0.455);
    background-size:300%;
    animation :animationGradient 5s  linear  ;
        border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(255, 255, 255,0.2)
}
@keyframes animationGradient{
    0%{
        background-position:200%;
        border-radius: 500px;
        /* top: 100px; */
        /* position: relative; */
    }
    25%{
    
        border-color: rgb(176, 167, 184);
        }
    50%{
        border-color: rgb(153, 90, 51);
        border-radius: 100px;
        /* top:50px; */
        /* position: relative; */
        }
    75%{
        
        border-radius: 20px;
        border-color: rebeccapurple;
        
        /* top:0px; */
        /* position: relative; */
        }
    100%{
        border-color: rgb(239, 18, 18);
        border-radius: 10px;
        
        /* top:0px; */
        /* position: relative; */


        }
}


.english-photo{
    /* height:900px; */
    /* min-height: 80px; */
    /* max-height: 400px; */
    aspect-ratio:16/9;
    text-align: center;width: 50%;
}
.name-subject{
    font-size:2em;
    font-weight:bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.h1-main{
    margin-top: 500px;
    color: rebeccapurple;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 3em;
    font-weight: bold;
}
/* ***************************************************************************** */
.about-us{
    font-size:5em;
    color:transparent;
    margin-top: 200px;
    /* margin:5rem auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: url(stars.webp);
    background-size: contain;
    background-clip: text;
    animation:  aae 20s linear infinite;
}
@keyframes aae{
    to{
    background-position-x: -500px;}
}
.section-exp1{
    
    display: flex;
    flex-wrap: wrap;
    font-size:2.7em;
    color:rgba(51, 114, 209, 0.805);
    margin-top: 100px;
    text-shadow: 12px 10px 3px rgb(1, 1, 0);
    margin-bottom: 10px;
    max-width: 1100px;
}
.section-exp2{
    font-size:1em;
    display: flex;
    max-width: 1000px;
    margin-bottom: 10px;
}






.eex2{
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 10px;


}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* backdrop-filter:blur(6px) ; */
    max-width: 1200px;
}
.tittle-arabic{
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 300px;
    color: rgba(0, 255, 255, 0.538);
}
.arabic-pdf{
    width:1700px;
    position: absolute;
    max-width: 1350px;
    padding: 30px;
    top: 600px;
}
.tittle-side{
    font-size:3rem;
    margin-bottom: 10px;
    position: absolute;
    top:10px;
    color:rgb(27, 186, 67);
    position: absolute;
    cursor: none;
}







.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    background:rgba(0, 0, 0, 0.916);    
    color:white;
    margin-top: 5rem;
}

#footer1{
    margin: 0.5rem;
}
#footer2{
    margin: 0.5rem;
}

#footer3{
  
  margin: 0.5rem;
}

.h22r{
    font-size: 2em;
    color: rgb(216, 21, 21);
}
.span1 {
    position: relative;
    left:100px;
    display: inline-block;
    color: red;
    vertical-align:bottom ;
    overflow: hidden;
    height: 1.2em;
}
.span1 span {
    display: block;
    animation: anim 5s infinite ease;
}
@keyframes anim { 
    0%{
        transform: translateY(0%) ;
    }
    25%{
        transform: translateY(-100%) ;

    }
    50%{

        transform: translateY(-200%) ;
    }
    75%{
        transform: translateY(-300%) ;

    }
    100%{

        transform: translateY(-400%) ;
    }
}





















































.container{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.sidebar{
    max-width: 160px;
    font-weight: bold;
    background-color:rgba(245, 222, 179, 0.243);
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}
.sidebar h2{
    color: rgb(102, 224, 224);
    min-height: 10px;
    max-width: 180px;
    min-width: 10px;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li {
    cursor: pointer;
    padding: 0px 0px;
    transition:0.5s ease-out;
    border-radius: 5px ;
    margin:30px 0px;
    
}
.sidebar ul li a{
    text-decoration: none;
}

.sidebar ul li:hover{
    background-color: rgba(217, 165, 67, 0.241);
    font-weight: 700;
    color:rgba(0, 0, 255, 0.781);
    transition:0.1s ease-in;
    text-decoration: underline;

}


/* main contecnt */
.main-content{
    flex: 1;
    padding: 20px;
    overflow-y:auto;
}
header {
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}



.hide{
    display: none;
}

/* dashboard section */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));/*بتخلي اتلعناصر كلها فوق في الصف الاول*/
    gap: 20px;
    margin-bottom: 30px;
}


.card{
    padding: 20px;
    color:black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(208, 135, 0, 0);
    transition:  0.9s ease-out;
}
.card:hover{
    box-shadow: 0px 4px 9px orange;
    font-size: 1.3em ;
    transition:  0.5s ease-in;

}
.card h3{
    margin-bottom: 10px;
}
.card small{
    opacity: 1;
}
.blue{
    background-color: rgba(72, 79, 85, 0.603);
    background: linear-gradient(to top, red,black,white,red);
    background-size: contain;
    background-clip: border-box;
    animation:  aae 5s ;
}
@keyframes aae{
    from{
    border-radius: 50%;
}
}
.orange{
    background-color: rgba(72, 79, 85, 0.603);
}
.green{
    background-color: rgba(72, 79, 85, 0.603);
}
.red{
    background-color: rgba(72, 79, 85, 0.603);
}


























/* 

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));/*بتخلي اتلعناصر كلها فوق في الصف الاول
   gap: 20px;
    margin-bottom: 30px;
}

.tag-box{
    position:relative;
    width:18rem;
    height:2.5rem;
    border-radius:50px;
    background:linear-gradient(to right, rgb(239, 15, 15),blue,rgb(130, 118, 96) ,rgb(51, 15, 15),rgb(33, 24, 157), rgb(245, 179, 221), rgb(255, 255, 255));
    background-size:200%;
    animation :animationGradient 2.5s linear infinite;
    box-shadow: 1px 1px 15px rgb(255, 255, 255,0.2)
}
@keyframes animationGradient {
    to {
        background-position:200%;
    }
}

.tag-box .tag{
    position:absolute;
    inset: 3px 3px 3px 3px;
    background-color:rgb(89, 85, 85);
    border-radius:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.5s ease;
    cursor: pointer;
}
.tag-box .tag:hover{
    color: blanchedalmond;
    font-size: 1.2em;
    padding-left: 10px;
}



 */

















